$white-color: #FFFFFF;
$black-color: #000000;
$grey-color: #333B41;
$text-comment: #767474;
$card-background: #F1F3F2;
$yellow-color: #FFEE2E;
$grey-email: #BDBDBD;
$orange: #F9804B;
$orange-hover: #E47209;
$border-color: #FA6F32;
$thumb-color: #FE9013;
$green-color: #4B9200;
$font-family: 'Roboto', 'Arial', sans-serif;
$font-weigth100: 100;
$font-weigth300: 300;
$font-weigth400: 400;
$font-weigth500: 500;
$font-weigth700: 700;
$font-size-logo: 19.0145px;
$font-size15: 15px;
$font-size16: 16px;
$font-size24: 24px;
$font-size36: 36px;
$font-size48: 48px;
$font-size72: 72px;
$font-style-normal: normal;
$line-heigth18: 18px;
$line-heigth19: 19px;
$line-heigth22: 22px;
$line-heigth58: 58px;
$line-heigth21: 21px;
$line-heigth29: 29px;
$line-heigth47: 47px;



@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  src: url(../../assets/fonts/Roboto-Thin.ttf);
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: url(../../assets/fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url(../../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url(../../assets/fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url(../../assets/fonts/Roboto-Bold.ttf);
}

* {
  box-sizing: border-box;
}

.header-background {
  background-color: $black-color;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 220px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .wrapper-nav-logo {
    display: flex;
    align-items: center;
    .logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      .logo-text {
        position: relative;
        width: 82px;
        font-size: $font-size-logo;
        text-align: center;
        font-family: $font-family;
        font-style: $font-style-normal;
        font-weight: 400;
        line-height: 23px;
        color: $white-color;
        border: 1.18841px solid $white-color;
        margin:0 63px 0 0;
        .positioned-bamboo {
          position: absolute;
          content: '';
          top: 24.64px;
          left: 8.13px;
        }
      }
    }
  }
}

.logo-link {
  display: block;
  text-decoration: none;
  color: $white-color;
}

.nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  .nav-item  {
    list-style: none;
    padding-right: 58px;
    padding-top: 29px;
    padding-bottom: 29px;
    font-family: $font-family;
    font-style: $font-style-normal;
    font-weight: $font-weigth500;
    font-size: $font-size16;
    line-height: $line-heigth22;
    color: $white-color; 
    .nav-link {
      text-decoration: none;
      color: $white-color;
      transition: 0.7s;
      &:hover {
        color: $orange-hover;
        transition: 0.7s;
      }
    }
  }
}

.orange {
  color: $orange;
  pointer-events: none;
  cursor: default;
  text-decoration: none; 
}

.text-design {
  color: $white-color;
  text-decoration: none;
  font-family: $font-family;
  font-style: normal;
  font-weight: $font-weigth500;
  font-size: $font-size16;
  line-height: $line-heigth22;
  &:hover {
    color: $orange-hover;
    transition: 0.7s;
  }
}

.panda-donate {
  display: block;
}

.block-amount {
  background: rgba(255, 255, 255, 0.52);
backdrop-filter: blur(2px);
border-radius: 20px;
padding: 40px 92px 62px 92px;
}

.donation-information {
  padding-bottom: 180px;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.subblock-title {
  font-family: $font-family;
font-style: $font-style-normal;
font-weight: $font-weigth400;
font-size: $font-size48;
line-height: $line-heigth58;
text-align: center;
color: $thumb-color;
margin: 0;
padding-bottom: 20px;

}

.text-joy {
  font-family: $font-family;
font-style: $font-style-normal;
font-weight: $font-weigth400;
font-size: $font-size24;
line-height: $line-heigth29;
color: $grey-color;
margin: 0;
padding-bottom: 60px;

}

.number-style {
  font-family: $font-family;
font-style: $font-style-normal;
font-weight: $font-weigth500;
font-size: $font-size72;
line-height: $line-heigth58;
text-align: center;
text-transform: uppercase;
color: $black-color;
margin: 0;
padding-bottom: 11px;
}

.title-per-days {
  margin: 0;
  font-family: $font-family;
font-style: $font-style-normal;
font-weight: $font-weigth400;
font-size: $font-size16;
line-height: $line-heigth22;
text-align: center;
color: $grey-color;
}

.amount {
  font-family: $font-family;
font-style: $font-style-normal;
font-weight: $font-weigth400;
font-size: $font-size16;
line-height: $line-heigth22;
color: $black-color;


}

.wrapper-radio-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 976px;
  height: 27px;
  margin-bottom: 6px;
  border: 1px solid black;
  background: #404950;
}

.radio-item {
  background-color: #FFEE2E;
}


/*.price-label::before {
  content: url("../../assets/images/svg/dollar-symbol.svg; charset=UTF-8, <svg width='10' height='20' viewBox='0 0 10 20' fill='none' xmlns='http://www.w3.org/2000/svg'>
  <path d='M8.07792 6.25974C7.66234 5.87013 7.24675 5.58442 6.85714 5.37662C6.46753 5.19481 6.02597 5.09091 5.53247 5.09091C4.96104 5.09091 4.54545 5.22078 4.25974 5.45455C3.97403 5.68831 3.81818 6.07792 3.81818 6.5974C3.81818 6.96104 3.97403 7.2987 4.28571 7.53247C4.5974 7.79221 4.96104 8.02597 5.42857 8.25974C5.8961 8.49351 6.38961 8.72727 6.90909 8.98701C7.42857 9.24675 7.92208 9.53247 8.38961 9.8961C8.85714 10.2597 9.22078 10.6753 9.53247 11.1948C9.84416 11.7143 10 12.3377 10 13.0649C10 14.1818 9.68831 15.1429 9.09091 15.9481C8.49351 16.7532 7.55844 17.2727 6.36364 17.5584V20H4.1039V17.6623C3.42857 17.5844 2.7013 17.4026 1.94805 17.0909C1.19481 16.7792 0.545455 16.3896 0 15.8961L1.50649 13.5844C2.1039 14.026 2.67533 14.3636 3.19481 14.5974C3.74026 14.8312 4.28571 14.9351 4.83117 14.9351C5.48052 14.9351 5.97403 14.8052 6.25974 14.5455C6.57143 14.2857 6.72727 13.8701 6.72727 13.3247C6.72727 12.9091 6.57143 12.5714 6.25974 12.2857C5.94805 12 5.58442 11.7403 5.11688 11.4805C4.64935 11.2208 4.15584 10.961 3.63636 10.7013C3.11688 10.4416 2.62338 10.1299 2.15584 9.76623C1.68831 9.4026 1.32468 8.98701 1.01299 8.49351C0.701299 8 0.545455 7.42857 0.545455 6.72727C0.545455 5.58442 0.857143 4.62338 1.48052 3.87013C2.1039 3.11688 2.98701 2.62338 4.07792 2.41558V0H6.33766V2.36364C7.09091 2.46753 7.74026 2.7013 8.31169 3.03896C8.88312 3.37662 9.37662 3.79221 9.84416 4.28571L8.07792 6.25974Z' fill='%23333B41'/></svg>");
}*/

.input-form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.input-form-number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.padding-right25 {
  padding-right: 29px;
}

.wrapper-labels {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.price-in-dollars {
  display: flex;
}

.radio-item1 {
  position: relative;;
}

.radio-item2 {
  position: relative;;
}

.radio-item3 {
  position: relative;;
}

.radio-item4 {
  position: relative;;
}

.radio-item5 {
  position: relative;;
}

.radio-item6 {
  position: relative;;
}

.radio-item7 {
  position: relative;;
}


.radio-item1::after {
  position: absolute;
  content: '';
  width: 109px;
  left: 11px;
  top: 50%;
  border: 1px solid #72828E;
}

.radio-item2::after {
  position: absolute;
  content: '';
  width: 109px;
  left: 11px;
  top: 50%;
  border: 1px solid #72828E;
}

.radio-item3::after {
  position: absolute;
  content: '';
  width: 109px;
  left: 11px;
  top: 50%;
  border: 1px solid #72828E;
}

.radio-item4::after {
  position: absolute;
  content: '';
  width: 109px;
  left: 11px;
  top: 50%;
  border: 1px solid #72828E;
}

.radio-item5::after {
  position: absolute;
  content: '';
  width: 109px;
  left: 11px;
  top: 50%;
  border: 1px solid #72828E;
}

.radio-item6::after {
  position: absolute;
  content: '';
  width: 109px;
  left: 11px;
  top: 50%;
  border: 1px solid #72828E;
}

.radio-item7::after {
  position: absolute;
  content: '';
  width: 109px;
  left: 11px;
  top: 50%;
  border: 1px solid #72828E;
}

.price-label {
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 140%;
text-transform: uppercase;

color: #333B41;

}

.wrapper-radio {
  margin-top: 25px;
}

.input-number {
  width: 268px;
height: 54px;
background: #333B41;
color: #FFFFFF;
padding-left: 9px;
&::placeholder{
  color: #FFFFFF;
  background: url(../../assets/images/svg/white-dollar-symbol.png) no-repeat;
  background-position: right;
  
}

}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; 
}

.monthly {
  padding-left: 10px;
  padding-right: 50px;
  font-family: $font-family;
font-style: $font-style-normal;
font-weight:$font-weigth400;
font-size: $font-size16;
line-height: $line-heigth22;
color: $grey-color;

}

.once {
  padding-left: 10px;
  font-family: $font-family;
font-style: $font-style-normal;
font-weight:$font-weigth400;
font-size: $font-size16;
line-height: $line-heigth22;
color: $grey-color;
}

.title-donate {
  margin: 0;
  padding-top: 40px;
  padding-bottom: 10px;
  font-family: $font-family;
font-style: $font-style-normal;
font-weight: $font-weigth400;
font-size: $font-size36;
line-height: $line-heigth47;
color: $white-color;

}

.paragraph-donate {
  margin: 0;
  padding-bottom: 40px;
  font-family: $font-family;
font-style: $font-style-normal;
font-weight: $font-weigth400;
font-size: $font-size16;
line-height: $line-heigth22;
color: $white-color
}

.subtitle-donate {
  font-family: $font-family;
font-style: $font-style-normal;
font-weight: $font-weigth400;
font-size: $font-size36;
line-height: $line-heigth47;
color: $thumb-color;
  margin: 0;
  padding-bottom: 60px;
}

.flex-container-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 48px;
}

.cross {
  width: 14px;
  height: 14px;
  position: relative;
  margin-left: 11px;
  margin-right: 64px;
  
  .cross-line {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    left: 0;
}
.cross-line-first {
  top: 0;
  transform: rotate(45deg);
}

.cross-line-second {
  top: 0;
  transform: rotate(-45deg);
}
  
}

.btn-feed-now {
  display: block;
  width: 292px;
  padding: 16px 5px 16px 5px;
  margin: 0 auto;
  margin-top: 31px;
  background: $orange;
  border-radius: 25px;
  border: 0;
  font-family: $font-family;
font-style: $font-style-normal;
font-weight: $font-weigth500;
font-size: $font-size16;
line-height: $line-heigth22;
text-align: center;
text-transform: uppercase;
color: $white-color;
margin-bottom: 30px;
transition: 0.7s;
&:hover {
background: $orange-hover;
cursor: pointer;
transition: 0.7s;
}
}

.share {
  display: block;
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
color: #333B41;
text-align: center;
}

  .footer-background {
    background-color: #000000;
    padding-bottom: 50px;
  }

  .footer-flex-container {
    display: flex;
    justify-content: space-between;
    .wrapper-logo-social-donate {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .donate-btn {
        display: block;
    width: 298px;
    text-align: center;
    border: 1px solid transparent;
    padding: 16px 0;
    text-decoration: none;
    font-family: $font-family;
    font-style: $font-style-normal;
    font-weight: $font-weigth500;
    font-size: $font-size16;
    line-height: $line-heigth22;
    text-transform: uppercase;
    color: $white-color;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    margin-bottom: 44px;
    transition: 0.7s;
    &:hover {
      background-color: $orange-hover;
      cursor: pointer;
      transition: 0.7s;
    }

      }
      .logo-footer {
        position: relative;
        width: 82px;
        font-size: $font-size-logo;
        text-align: center;
        font-family: $font-family;
        font-style: $font-style-normal;
        font-weight: 400;
        line-height: 23px;
        color: $white-color;
        border: 1.18841px solid $white-color;
        height: 52px;
        margin-top: 41px;
        margin-bottom: 68px;
      }
      .wrapper-social {
        display: flex;
        align-items: center;
        text-decoration: none;
      }
    }
  }

  .positioned-bamboo-footer {
    position: absolute;
    content: '';
    top: 24.64px;
          left: 8.13px;
  }

  .name-social {
    font-family: $font-family;
font-style: $font-style-normal;
font-weight: $font-weigth400;
font-size: $font-size16;
line-height: $line-heigth22;
color: $white-color;
  }

  .text-designed {
    font-family: $font-family;
font-style: $font-style-normal;
font-weight: $font-weigth100;
font-size: $font-size16;
line-height: $line-heigth21;
color: $white-color;
    margin: 0;
  }

  .logo {
    color:#FFFFFF;
  }

  .nav-bottom {
    align-self: flex-end;
    .item-down {
      padding: 0 58px 0 0;
    }
  }

  .soc-icon {
    padding-right: 17px;
  }

  .social-icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .wrapper-form-email-designed {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    .subscribe {
      font-family: $font-family;
      font-style: $font-style-normal;
      font-weight: $font-weigth400;
      font-size: $font-size24;
      line-height: $line-heigth29;
      color: $white-color;
      margin: 40px 0 14px 0;

    }
  }

  .input-submit {
    padding: 10px 39px;
    background: #F1F3F2;
border: 1px solid $green-color;
border-radius: 5px;
font-family: $font-family;
font-style: $font-style-normal;
font-weight: 400;
font-size: $font-size16;
line-height: $line-heigth22;
color: $green-color;
  }

  .ínput-email {
    padding: 10px 0 10px 10px;
    font-family: $font-family;
font-style: $font-style-normal;
font-weight: $font-weigth400;
font-size: $font-size16;
line-height: $line-heigth22;
color: $grey-email;
margin-right: 10px;

  }